files/tool_output/01_anonymized_input/*.json
files/tool_output/02_questions_and_answers_set/*.xlsx
files/tool_output/03_anwers_and_califications_dataframe/*.xlsx
files/tool_output/04_answers_time/*.xlsx
files/tool_output/04_answers_time/individual_answer_times/*.xlsx
files/tool_output/04_answers_time/answer_times_merged.xlsx
files/tool_output/05_answers_and_questions_cleaned/*.xlsx
files/tool_output/06_py_collaborator_outputs/*.json
files/tool_output/07_acumulated_knowladge/*.json
files/tool_output/08_student_exam_logs/individual_logs/*.xlsx
files/tool_output/09_questions_mining/*.json
files/tool_output/10_questions_mining_graphics/comportamiento_preguntas/*.png

files/tool_input/*.json
files/tool_input/*.xml
files/tool_data_input_examples/exam_22052020/*
fake_names.xlsx
fake_names - Copy.xlsx
names.py
*.ipynb
.idea/*
__pycache__/
*.zip
/venv/
/.vscode/
/.pytest_cache/
