{% extends 'layout.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload your exam files</h1>
      <hr>

      <form action="/scripts" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Select files</label>
          <div class="custom-file">
            <input oninput="filesize(this);" class="form-control" type="file" name="formFileMultiple" id="formFileMultiple" multiple />
            <label class="custom-file-label" for="formFileMultiple">Select jsons...</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
</div>

{% endblock content %}