{% extends 'layout.html' %}
{% block content %}

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">Moodle Exam Miner</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ url_for('homepage') }}" class="nav-link" aria-current="page">Inicio</a>
                </li>
                <li class="nav-item"><a href="{{ url_for('features') }}" class="nav-link active">Características</a>
                </li>
                <li class="nav-item"><a href="{{ url_for('faqs') }}" class="nav-link">Preguntas Frecuentes</a></li>
                <li class="nav-item"><a href="{{ url_for('upload') }}" class="nav-link">Subir archivos</a></li>
            </ul>
        </header>
    </div>


    <div class="nube-puntos"></div>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Nube de puntos interactiva</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">En esta nube de puntos se puede observar el desempeño global del examen, a partir de la
                nota obtenida y el número de segundos requeridos para hacer el examen. El tamaño grande y el color
                amarillo representan que necesitó mucho tiempo en hacer el examen. El tamaño pequeño y el color morado
                representan poco tiempo haciendo el examen.</p>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="../static/gif_nube_puntos.gif" class="img-fluid border rounded-3  mb-4" alt="Gif nube"
                     width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>


    <div class="graf-estudiantes"></div>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Gráfico detallado del estudiante</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">En este gráfico se puede observar el rendimiento de cada estudiante en el examen, cada
                respuesta que hizo y a la hora que la completó. Haciendo click en el lista de estudiantes que aparece a
                la derecha, el estudiante aparece o desaparece. Doble click para que solo aparezca ese estudiante.</p>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="../static/gif_estudiantes.gif" class="img-fluid border rounded-3  mb-4" alt="Gif estudiantes"
                     width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>


    <div class="graf-clusters"></div>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Posibles clusters de estudiantes</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Este gráfico tiene la misma información que el gráfico superior pero con estudiantes
                divididos en agrupaciones (Clúster). Se pueden comparar más de un cluster al seleccionarlos en el menú
                encima del gráfico</p>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="../static/gif_clusters.gif" class="img-fluid border rounded-3  mb-4" alt="Gif clusters"
                     width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>

    <div class="graf-preguntas"></div>
    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold">Gráfico detallado de preguntas</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">En este gráfico con mayor detalle cada una de las preguntas del examen. Se pueden
                comparar más de una pregunta al seleccionarlas en el menú encima del gráfico</p>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="../static/gif_preguntas.gif" class="img-fluid border rounded-3  mb-4" alt="Gif preguntas"
                     width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
{% endblock content %}

